#btn-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 99;
    border: 1px;
    outline: none;
    background-color: rgb(185, 185, 185); 
    color: white;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    opacity: 70%;
  }
  
  #btn-scroll-to-top:hover {
    background-color: rgb(141, 141, 141);
  }

  body{
    font-family: 'Roboto', sans-serif;  }

#Offener-Brief,#Kontakt p{
  text-align: justify;
}

.bg-light{
  background-color: #bbbbbb ;
  color: black;
}