#btn-scroll-to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
  border: 1px;
  outline: none;
  background-color: rgb(185, 185, 185);
  color: white;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  opacity: 0.7;
}

#btn-scroll-to-top:hover {
  background-color: rgb(141, 141, 141);
}

body {
  font-family: "Roboto", sans-serif;
}

#Offener-Brief,
#Kontakt p {
  text-align: justify;
}

.carousel-item,
img {
  object-fit: cover;
}

.bg-light {
  background-color: #bbbbbb;
  color: black;
}

.carousel-item {
  height: 15rem;
}

.carousel-caption {
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  font-size: small;
  bottom: 0%;
  right: 0%;
  left: unset;
  color: black;
}

@media (min-width: 1200px) {
  .carousel-item {
    height: 20rem;
  }
}

.signee-logo {
  max-height: 120px;
}

.signee-logo-container:empty {
  display: none;
}

@media (min-width: 576px) {
  .signee-logo-container:empty {
    display: block;
  }
  .signee-logo-container {
    height: 120px;
    line-height: 120px;
  }

  .signee-container {
    min-height: 130px;
  }
}
