<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Kontaktieren</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #contactForm="ngForm">
      <div class="form-group">
        <label for="signee-email">E-Mail:*</label>
        <input
          type="email"
          class="form-control"
          id="signee-email"
          name="signee-email"
          placeholder="Bitte E-Mail eingeben"
          [(ngModel)]="form.email"
          required
          email
        />
      </div>
      <div class="form-group">
        <label for="signee-phone">Telefon:</label>
        <input
          type="phone"
          class="form-control"
          id="signee-phone"
          name="signee-phone"
          placeholder="Bitte Telefon eingeben"
          [(ngModel)]="form.phone"
        />
      </div>
      <div class="form-group">
        <label for="contact-name">Name:</label>
        <input
          type="text"
          class="form-control"
          id="contact-name"
          name="contact-name"
          placeholder="Bitte deinen Namen eingeben"
          [(ngModel)]="form.name"
        />
      </div>

      <div class="form-group">
        <label for="contact-message">Nachricht:*</label>
        <textarea
          class="form-control"
          id="contact-message"
          name="contact-message"
          placeholder="Bitte deine Nachricht eingeben"
          rows="3"
          [(ngModel)]="form.message"
          required
        ></textarea>
      </div>
      <div class="form-group">
        <small id="formHelp" class="form-text text-muted"
          ><p>
            Ohne dein Einverständnis werden wir deine Daten niemals an Dritte
            weitergeben und sie nur bei Bedarf für eine Verifizierung und den
            Kontakt mit Dir verwenden.
          </p>
          <p>Die mit * gekennzeichneten Felder sind Pflichtfelder.</p></small
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!contactForm.form.valid"
    >
      Absenden.
    </button>
  </div>
</ng-template>

<button class="btn btn-secondary" (click)="open(content)">
  Jetzt Kontakt aufnehmen!
</button>
