<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Mitzeichnen</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="signee-email">E-Mail:</label>
        <input
          type="email"
          class="form-control"
          id="signee-email"
          aria-describedby="emailHelp"
          placeholder="Bitte E-Mail eingeben"
        />
      </div>
      <div class="form-group">
        <label for="signee-phone">Telefon:</label>
        <input
          type="phone"
          class="form-control"
          id="signee-phone"
          aria-describedby="phoneHelp"
          placeholder="Bitte Telefon eingeben"
        />
        <small id="phoneHelp" class="form-text text-muted"
          >Wir werden diese Daten niemals an Dritte weitergeben und sie nur bei
          Bedarf für eine Verifizierung und den Kontakt mit Dir
          verwenden.</small
        >
      </div>
      <div class="form-group">
        <label for="signee-organisation">Meine Organisation:</label>
        <input
          type="text"
          class="form-control"
          id="signee-organisation"
          placeholder="Bitte den Namen deiner Organisation eingeben"
        />
      </div>
      <div class="form-group">
        <label for="signee-website">Website:</label>
        <input
          type="text"
          class="form-control"
          id="signee-website"
          placeholder="Bitte die Website deiner Organisation eingeben"
        />
      </div>
      <div class="form-group">
        <label for="signee-names">Die Unterzeichnenden:</label>
        <input
          type="text"
          class="form-control"
          id="signee-names"
          placeholder="Bitte deinen und optional zwei weitere Namen eingeben"
        />
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="confirmation-check"
        />
        <label class="form-check-label" for="confirmation-check"
          >Ich möchte stellvertretend für meine Organisation den offenen Brief
          mitzeichnen und bin einverstanden, dass der Name der Organisation, ihr
          Logo, die URL ihrer Website und die Namen der Zeichnenden auf der Website des
          offenen Briefs veröffentlicht werden.
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Absenden.
    </button>
  </div>
</ng-template>

<button class="btn btn-success" (click)="open(content)">
  Jetzt mitzeichen!
</button>
