<div id="container" class="container mb-3 p-3 p-sm-5 shadow-lg rounded">
  <div class="row" id="Titel">
    <div class="col">
      <h2>Impressum</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h4>Angaben gemäß § 5 TMG:</h4>
      <h5 id="verantwortlich">Verantwortlich:</h5>
      <p *ngIf="responsible">
        <ng-template [ngIf]="responsible.name"
          >{{ responsible.name }}<br /></ng-template
        ><a *ngIf="responsible.email" href="'mailto://'+responsible.email">
          {{ responsible.email }}</a
        ><ng-template [ngIf]="responsible.adress"
          ><br />{{ responsible.adress }}</ng-template
        >
      </p>

      <h5 id="technischUmsetzende">Technische Umsetzung:</h5>
      <p *ngFor="let contact of technicalContacts">
        {{ contact.name }}<br /><a
          *ngIf="contact.email"
          href="'mailto://'+contact.email"
        >
          {{ contact.email }}</a
        >
      </p>
    </div>
  </div>
  <div id="Impressums-Text" class="row mt-3">
    <div class="col">
      {{ text }}
    </div>
  </div>
</div>
