<div>
  <app-header [title]="title"></app-header>
  <div class="container-md p-3 p-sm-5 mt-3 shadow-lg rounded">
    <div class="row mt-5" id="Offener-Brief">
      <div class="col" [innerHtml]="_returnHtmlFromRichText(mainText)"></div>
    </div>
    <div class="row align-items-center mt-3">
      <div class="col-12 align-self-center">
        <h4 style="margin-bottom: 0">
          <span *ngIf="signingOrganisations.length">{{ signingOrganisations.length }}</span>
          Organisationen und <span *ngIf="signingPersons.length">{{ signingPersons.length }}</span> Personen haben aktuell unterzeichnet.
        </h4>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-auto mt-3">
            <app-sign-letter-modal></app-sign-letter-modal>
          </div>
          <div class="col-auto mt-3">
            <app-contact-modal></app-contact-modal>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5" >
      <div class="col">
        <p>
         <span *ngFor="let person of signingPersons">
          {{person.fields.name}},
         </span>
        </p>
      </div>
    </div>
    <div class="row align-items-start" id="Unterzeichner">
      <ng-template ngFor let-organisation [ngForOf]="signingOrganisations">
        <app-signee
          *ngIf="organisation && organisation.fields"
          [name]="organisation.fields.name"
          [logo]="organisation.fields.logo"
          [website]="organisation.fields.website"
          [listOfSigningNames]="organisation.fields.listOfSigningNames"
          class="col-sm-6 col-md-4 mt-3 text-left"
        >
        </app-signee>
      </ng-template>
    </div>
  </div>
</div>
