<div>
  <app-header> </app-header>
  <div class="container-md p-3 p-sm-5 mt-3 shadow-lg rounded">
    <div class="row" id="Addressat">
      <div class="col">
        <h4>
          {{ addressant }}
        </h4>
      </div>
    </div>
    <div class="row mt-5" id="Offener-Brief">
      <div class="col" [innerHtml]="_returnHtmlFromRichText(text)"></div>
    </div>
    <div class="row mt-3" id="Kontakt">
      <div
        class="col"
        [innerHtml]="_returnHtmlFromRichText(contactNotice)"
      ></div>
    </div>

    <div class="row align-items-center mt-3">
      <div class="col-12 col-md-12 col-lg-5 align-self-center">
        <h4 style="margin-bottom: 0">Unterzeichnende:</h4>
      </div>
      <div class="col col-lg-7">
        <div class="row">
          <div class="col-auto mt-3 mt-lg-0">
            <a
              class="btn btn-success"
              href="mailto:kontakt@klima-rat.org?subject=Mitzeichnung%20offener%20Brief%20B%C3%BCrgerrat%20%22Klimagerechtigkeit%20und%20Wege%20aus%20der%20%C3%B6kologischen%20Krise%22&body=Hallo%2C%0D%0A%0D%0Agerne%20zeichnen%20wir%20den%20offenen%20Brief%20mit.%0D%0A%0D%0AIch%20bin%20damit%20einverstanden%2C%20dass%20folgende%20Daten%20auf%20der%20Website%20des%20offenen%20Briefs%20https%3A%2F%2Fwww.klima-rat.org%20ver%C3%B6ffentlicht%20werden%3A%0D%0A%0D%0AMeine%20Organisation%3A%0D%0AWebsite%3A%0D%0AMein%20Name%3A%0D%0A%0D%0ABitte%20kontaktieren%20Sie%20mich%20unter%20diesen%20Daten%20f%C3%BCr%20eine%20Verifizierung%3A%0D%0AE-Mail%3A%0D%0ATelefon%3A%0D%0A(Wir%20bitten%20darum%20alle%20Felder%20anzugeben%2C%20um%20einen%20schnellen%20reibungslosen%20Ablauf%20zu%20erm%C3%B6glichen.%20Vielen%20Dank.)%0D%0A%0D%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen%0D%0A"
              >Jetzt mitzeichnen! <i class="fa fa-envelope"></i
            ></a>
          </div>
          <div class="col-auto mt-3 mt-lg-0">
            <a
              class="btn btn-secondary"
              href=" mailto:kontakt@klima-rat.org?subject=Kontakt%20offener%20Brief%20B%C3%BCrgerrat%20%22Klimagerechtigkeit%20und%20Wege%20aus%20der%20%C3%B6kologischen%20Krise%22&body=%0D%0A"
              >Jetzt Kontakt aufnehmen! <i class="fa fa-envelope"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row mt-5 align-items-start" id="Unterzeichner">
      <app-signee
        *ngFor="let signee of signees"
        [name]="signee.fields.name"
        [logo]="signee.fields.logo"
        [website]="signee.fields.website"
        [listOfSigningNames]="signee.fields.listOfSigningNames"
        class="col-sm-6 col-md-4 mt-3 text-left"
      >
      </app-signee>
    </div>
  </div>
</div>
