<div>
  <app-header> </app-header>
  <div class="container-md p-3 p-sm-5 mt-3 shadow-lg rounded">
    <div class="row" id="Addressat">
      <div class="col">
        <h4>
          {{ addressant }}
        </h4>
      </div>
    </div>
    <div class="row mt-5" id="Offener-Brief">
      <div class="col" [innerHtml]="_returnHtmlFromRichText(text)"></div>
    </div>
    <div class="row mt-3" id="Kontakt">
      <div
        class="col"
        [innerHtml]="_returnHtmlFromRichText(contactNotice)"
      ></div>
    </div>

    <div class="row align-items-center mt-3">
      <div class="col-12 col-md-12 col-lg-5 align-self-center">
        <h4 style="margin-bottom: 0">Unterzeichnende:</h4>
      </div>
      <div class="col col-lg-7">
        <div class="row">
          <div class="col-auto mt-3 mt-lg-0">
            <app-sign-letter-modal></app-sign-letter-modal>
          </div>
          <div class="col-auto mt-3 mt-lg-0">
            <a
              class="btn btn-secondary"
              href=" mailto:kontakt@klima-rat.org?subject=Kontakt%20offener%20Brief%20B%C3%BCrgerrat%20%22Klimagerechtigkeit%20und%20Wege%20aus%20der%20%C3%B6kologischen%20Krise%22&body=%0D%0A"
              >Jetzt Kontakt aufnehmen! <i class="fa fa-envelope"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row row mt-5 align-items-start" id="Unterzeichner">
      <app-signee
        *ngFor="let signee of signees"
        [name]="signee.fields.name"
        [logo]="signee.fields.logo"
        [website]="signee.fields.website"
        [listOfSigningNames]="signee.fields.listOfSigningNames"
        class="col-sm-6 col-md-4 mt-3 text-left"
      >
      </app-signee>
    </div>
  </div>
</div>
