.signee-logo {
  max-height: 120px;
  max-width: 300px;
}

.signee-logo-container:empty {
  display: none;
}

@media (min-width: 576px) {
  .signee-logo-container:empty {
    display: block;
  }
  .signee-logo-container {
    height: 120px;
  }

  .signee-container {
    min-height: 130px;
  }
}
