<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sign</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      id="signManifestoForm"
      #signManifestoForm="ngForm"
      (ngSubmit)="onSubmit()"
      [hidden]="formSubmitted"
    >
      <div class="form-group">
        <label for="signee-organisation">Organisation: *</label>
        <input
          type="text"
          class="form-control"
          id="signee-organisation"
          name="signee-organisation"
          placeholder="Please enter the name of your organisation"
          required
          [(ngModel)]="form.organisation"
        />
      </div>
      <div class="form-group">
        <label for="signee-website">Website: *</label>
        <input
          type="url"
          class="form-control"
          id="signee-website"
          name="signee-website"
          placeholder="Please enter the website of your organisation"
          required
          [(ngModel)]="form.website"
        />
      </div>
      <div class="form-group">
        <label for="signee-names">Names of signees: *</label>
        <input
          type="text"
          class="form-control"
          id="signee-names"
          name="signee-names"
          placeholder="Please enter the names of maximum 3 people who are signing in the name of the organisation."
          required
          [(ngModel)]="form.listOfSigningNames"
        />
      </div>
      <div class="form-group">
        <label for="signee-logo">Logo of your organisation:</label>
        <input
          type="file"
          name="signee-logo"
          class="form-control-file"
          id="signee-logo"
          (change)="onFileSelect($event)"
          aria-describedby="logoHelp"
        />
        <small id="logoHelp" class="form-text text-muted"
          >Optional. We may use the logo from your website.</small
        >
      </div>
      <div class="form-group">
        <label for="contact-message">Message:</label>
        <textarea
          class="form-control"
          id="contact-message"
          name="contact-message"
          placeholder="Optionally, leave us a message"
          rows="3"
          [(ngModel)]="form.message"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="signee-email">Name: *</label>
        <input
          type="text"
          class="form-control"
          id="signee-name"
          name="signee-name"
          placeholder="Please enter your name"
          required
          [(ngModel)]="form.name"
        />
      </div>
      <div class="form-group">
        <label for="signee-email">E-Mail: *</label>
        <input
          type="email"
          class="form-control"
          id="signee-email"
          name="signee-email"
          placeholder="Please enter your e-mail"
          required
          [(ngModel)]="form.email"
          email
        />
      </div>
      <div class="form-group">
        <label for="signee-phone">Phone:</label>
        <input
          type="phone"
          class="form-control"
          id="signee-phone"
          name="signee-phone"
          aria-describedby="phoneHelp"
          placeholder="Optionally, please enter your phone number"
          [(ngModel)]="form.phone"
        />
        <small id="phoneHelp" class="form-text text-muted">Optional</small>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="confirmation-check"
          name="confirmation-check"
          aria-describedby="formHelp"
          required
          [(ngModel)]="form.confirmationCheck"
        />
        <label class="form-check-label" for="confirmation-check"
          > * I would like to co-sign the manifesto on behalf of my organization and agree that the name of the organization, its logo, the URL of its website and the names of the signatories will be published on the manifesto.
        </label>
      </div>
      <div class="form-group">
        <small id="formHelp" class="form-text text-muted"
          ><p>
            Without your consent we will not pass your data to third parties and will only contact you for verifications and getting in touch with you. 
          </p>
          <p>Fields marked with * are required.</p></small
        >
      </div>
    </form>

    <!-- Success message -->
    <div [hidden]="loading || !formSubmitted">
      <div class="alert alert-success" role="alert">
        Thank you for your signature.
      </div>

      <p *ngIf="form.organisation">Organisation: {{ form.organisation }}</p>

      <p *ngIf="form.website">Website: {{ form.website }}</p>

      <p *ngIf="form.listOfSigningNames">
        Names of Signatories: {{ form.listOfSigningNames }}
      </p>

      <p *ngIf="form.logo">Logo of your organisation: {{ form.logo.name }}</p>

      <p *ngIf="form.name">Your Name: {{ form.name }}</p>

      <p *ngIf="form.email">E-Mail: {{ form.email }}</p>

      <p *ngIf="form.phone">Phone: {{ form.phone }}</p>

      <p *ngIf="form.message">Message: {{ form.message }}</p>
    </div>
  </div>
  <!-- Footer -->

  <div class="modal-footer">
    <!-- Error Alert -->
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <!-- Loading spinner -->
    <div class="text-center" *ngIf="loading">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Buttons -->
    <button
      type="button"
      aria-label="Close"
      class="btn btn-secondary"
      (click)="modal.close('Signing finished successful')"
      [hidden]="!formSubmitted"
    >
      Close
    </button>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!signManifestoForm.form.valid"
      form="signManifestoForm"
      [hidden]="formSubmitted"
    >
      Submit
    </button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">
  Sign now! <fa-icon [icon]="faEnvelope"></fa-icon>
</button>
